/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Estilos Generales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62,5%;
}

html, body {
  height: auto;
  width: 100%;
  background-color: #000000;
  font-family: "roboto", sans-serif;
}

h1 {
  font-family: roboto;
  font-size: 3rem;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  margin: 2rem;
}

h2 {
  font-family: roboto;
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
  text-justify: auto;
  margin: 2rem;
}

#title__blog {
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  margin: 2rem;
}

#logo__blog {
  width: 80%;
}

hr {
  width: 100%;
  height: 3px;
  background-color: #ffffff;
}


/*** HEADER - NAVBAR ***/

/*  sección 1 navbar*/

.topbar__logo {
  background: url(https://i.pinimg.com/originals/44/6e/3b/446e3b79395a287ca32f7977dd83b290.jpg);
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
background-image: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 9%, rgba(111, 44, 134, 1) 56%, rgba(141, 52, 193, 1) 72%, rgba(207, 142, 214, 1) 92%);
  width: 100%;
  height: 15rem;
}

.logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position:relative;
  width: 205px;
  height: 205px;
  padding-right: 30px;
  transition: transform 0.5s ease;
}

.logo div {
  align-content: center;
}

.logo img {
  max-width: 110%;
  height: auto;
}



/* sección 2 navbar*/

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 1);
  background-image: linear-gradient(269deg, rgba(0, 0, 0, 1) 27%, rgba(111, 44, 134, 1) 56%, rgba(141, 52, 193, 1) 72%, rgba(207, 142, 214, 1) 91%);
  padding: 10px;
  color: #ffffff;
  width: 100%;
  box-sizing: border-box;
}

.topbar__email {
  text-align: left;
}

.social__icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social__icons div {
  margin-left: 10px;
}

.social__icons a {
  color: #ffffff;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.social__icons a:hover {
  color: #ff00d0;
}




/*** MAIN ***/

main {
  margin-top: 1rem;
  margin-bottom: 0;
  width: 100%;
}

.border__line {
  height: 2rem;
  width: 100%;
  background-color: #000000;

}


/*** FOOTER **/


footer{
  position: relative;
  width: 100%;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 1);
  background-image: radial-gradient(circle, rgba(0, 0, 0, 1) 27%, rgba(111, 44, 134, 1) 56%, rgba(141, 52, 193, 1) 72%, rgba(207, 142, 214, 1) 92%);
}

.social_icon,.footer_pages{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social_icon li, .footer_pages li {
  list-style: none;
}

.social_icon li a {
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social_icon li a:hover{
  transform: translateY(-10px);
}

.footer_pages a {
  font-family: roboto;
  font-size: 1rem;
  color: #ffffffff;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.footer_pages li a:hover{
  color: #ff00d0;

}

footer p {
  color: #fff;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}






/*** ESTILOS PAGINA CONTACTO / INICIO / ***/

.border-bottom {
  border-bottom: 1rem solid #000000;
}

.main__box {
  height: auto;
}

.box__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: auto;
  width: 100%;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.box__image {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}

.box__img {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.box__img img {
  width: 80%;
  height: auto;
  border-radius: 5%;
  max-width: 100%;
}




.box__text {
  width: auto;
  height: auto;
}

.text__p {
  font-size: 1.4rem;
  font-family: roboto;
  color: #ffffff;
  text-align: justify;
  padding-left: 2rem;
  padding-right: 2rem;
}




/* Estilo solo formulario */

.contact__form {
  width: 40%;
  height: max-content;
  padding-right: 1rem;
}





/*** ESTILOS PAGINA YO SOY / RECURSOS ***/


.container {
  width: 100%;
}

.box__top {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 20px;
}

.top__img {
  width: 45%;
  text-align: center;
}

.top__img img {
  width: 100%;
}

.top__text {
  width: 45%;
  text-align: center;
}

.top__text p {
  font-size: 1.5rem;
  font-family: roboto;
  font-weight: 500;
  color: #ffffff;
}




/* cards página yo soy */

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 4rem 1rem;
}

.card {
  width: 22%;
  height: 600px;
  background-color: #6f2c86;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 3px rgba(121, 113, 113, 0.5);
  transition: box-shadow 0.3s;
  margin-bottom: 1rem;
}

.card:hover {
  box-shadow: 0px 0px 15px 5px rgba(121, 113, 113, 0.8);
}

.card-front {
  padding: 1rem;
  text-align: center;
}

.card-link {
  display: block;
}

.card-image {
  width: 80%;
  height: auto;
  object-fit: cover;
}

.card-title {
  color: #ffffff;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.card-text {
  color: #ffffff;
  text-align: center;
}



/* Estilos para las tarjetas específicas de libros en página Recursos */
.card-container {
  flex-wrap: wrap;
}

.card {
  width: 22%;
}

.card-title,
.card-text {
  margin-left: 0;
}





/*** ESTILOS GALERIA PAGINA RECURSOS ***/

.gallery__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery__item {
  flex: 0 0 33.33%;
  padding: 1.5rem;
  text-align: center;
}




/** ESTILOS PROPIOS PARA BOOSTRAP **/


.nav__links {
  background-color: rgba(0, 0, 0, 1);
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 27%, rgba(111, 44, 134, 1) 56%, rgba(141, 52, 193, 1) 72%, rgba(207, 142, 214, 1) 92%);
}

.nav__link {
  font-family: roboto;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  
}

.nav__link a {
  color: #ffffff;
  display: flex;
}


.nav__link a:hover {
  color: #ff00d0;
}


/* Página contacto */

.button-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.btn__color {
  margin-top: 1rem;
  color: #ffffff;
  background-color: #6f2c86;
  border-color: #797171;
  box-shadow: 0px 0px 10px 3px rgba(121, 113, 113, 0.5);
  transition: box-shadow 0.3s;
}

.btn__color:hover {
  box-shadow: 0px 0px 15px 5px rgba(121, 113, 113, 0.7);
}

.btn__color:active {
  box-shadow: 0px 0px 5px 1px rgba(121, 113, 113, 0.7);
}

.font__form {
  font-family: roboto;
  font-size: 1rem;
  color: #ffffff;
}





/*** ESTILOS PARA EL BLOG ***/

#main-section {
  width: 100%;
  height: 150vh;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  background-image: url("ruta_de_la_imagen.jpg");
  background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll;
}

.blog__sub-section {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
  margin-top: 4rem;
  margin-bottom: 4rem;
}








/*** ESTILOS PARA ARTICULOS ***/

.article {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.article__title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #df3ddc;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.article__subtitle {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #ffffff;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.article__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.article__text {
  width: 100%;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  text-align:justify;
  margin: 1.5rem 1.5rem 0.5rem;
  line-height: 1.8rem;
}

.article__text p {
  margin-bottom: 3rem;
}

.article__image {
  width: 60%;
  margin: 1.5rem auto;
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
}

.article__image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.article__author {
  text-align: right;
  font-style: italic;
  margin-top: 1rem;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}











/*** MEDIA QUERIES ***/


/* sección 1  navbar */

@media (max-width: 425px) {
  .topbar__logo {
    height: 12rem;
  }
}


/* sección 2 navbar */

@media (max-width: 425px) {
  .topbar {
    flex-direction: column;
    justify-content: center;
  }

  .topbar__email {
    text-align: center;
  }

  .social__icons {
    margin-top: 10px;
    justify-content: center;
  }
}



/* página contacto */

@media screen and (max-width: 767px) {
  .box__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .box__image, .contact__form {
    width: 80%;
    margin-bottom: 3rem;
  }
}


@media screen and (max-width: 767px) {
  .text__p {
    font-size: 1rem;
    font-family: roboto;
    color: #ffffff;
    text-align: justify;
    padding-left: 0.8rem;
    padding-right: 0.rem;
  }
}


/* Estilos para dispositivos móviles página Yo soy*/

@media screen and (max-width: 767px) {
  .card-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    width: 45%;
    margin: 1rem 1rem;
  }
  
  .card-title {
    font-size: 1.2rem; 
  }

  .card-text {
    font-size: 0.9rem; 
  }
}

@media screen and (max-width: 570px) {
  .card {
    width: 80%; 
    height: 500px;
    margin-bottom: 1.5rem;
  }
}


/* Media queries de Yo soy y Recursos */

@media (max-width: 767px) {
  .box__top {
    flex-direction: column;
  }

  .top__img,
  .top__text {
    width: 100%;
  }
}



/* Estilos para dispositivos medianos página Recursos - Galería */
@media screen and (max-width: 767px) {
  .gallery__item {
    flex: 0 0 50%;
  }
}

/* Estilos para dispositivos pequeños página Recursos - Galería */
@media screen and (max-width: 570px) {
  .gallery__item {
    flex: 0 0 100%;
  }
}

.gallery__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 3px rgba(121, 44, 134, 0.5);
  transition: box-shadow 0.3s;
}

.gallery__image:hover {
  box-shadow: 0px 0px 15px 5px rgba(121, 44, 134, 0.8);
}


/* Estilos para las tarjetas específicas de libros en página Recursos */

@media (max-width: 570px) {
  .card-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .card-image {
    width: 50%;
    height: auto;
    object-fit: cover;
  }
}


/* Estilos responsivos artículos del blog */
@media (max-width: 767px) {
  .article__title {
    font-size: 1.3rem;
  }

  .article__subtitle {
    font-size: 0.9rem;
  }

  .article__text p {
    font-size: 0.8rem;
  }

  .article__author {
    font-size: 0.7rem;
  }
}


/* Estilo responsivo para el blog */

@media (max-width: 768px) {
  .blog__sub-section {
    width: 100%;
  }
}
